* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

.background-index {
  background: #9f17f3;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(159, 23, 243, 0.35)), color-stop(10%, #d9b4f0), color-stop(41%, white));
  background: linear-gradient(0deg, rgba(159, 23, 243, 0.35) 0%, #d9b4f0 10%, white 41%);
  height: 100vh;
}

.container {
  width: 60vw;
}

.btn {
  background-color: #8517F3;
  border: none;
  border-radius: 30px;
  width: 210px;
  height: 40px;
  color: #fff;
}

.display {
  font-size: 3rem;
  color: #8517F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);
}

.navbar {
  background-color: #8517F3;
  color: #fff;
  padding: 1.5rem;
  width: 100%;
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 5vh;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 260px;
}

.about h1 {
  font-size: 2.8rem;
  margin-bottom: 25px;
}

.about__paragraph {
  max-width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

.about__text {
  margin: 15px 0 50px;
}

.about__illustration {
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
}

input[type="number"] {
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 20px;
}

.set-timer {
  text-align: center;
  height: 270px;
}

.set-timer__paragraph {
  padding: 1rem;
  border-radius: 12px;
  width: 400px;
  margin: 0 auto 25px;
  font-size: 1.5rem;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-hour, .input-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

#hour, #min {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);
}

#hour::-webkit-inner-spin-button, #min::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dot {
  position: relative;
  top: 15px;
  font-size: 5rem;
  opacity: 0.5;
}

.background-page2 {
  background-image: url("./../../img/art-art-materials-artistic-286559.jpg");
  width: 100%;
  height: 500px;
}

.word-generator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  text-align: center;
}

.content h1, .content p {
  margin-top: 10px;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15vh;
}

.display-words {
  height: 90px;
  width: 500px;
  border-radius: 20px;
  margin-top: 15vh;
}

.display-countdown {
  width: 250px;
  height: 60px;
  border-radius: 10px;
}

.play-pause-btn {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.play-pause-btn img {
  height: 30px;
}

footer {
  height: 30px;
}

footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */