*{
  box-sizing: border-box;
  margin: 0;
}
html{
  font-size: $font-size;
}
body{
  font-family: $font; 
  font-weight: 300;
}
.background-index{
  background: rgb(159,23,243);
background: linear-gradient(0deg, rgba(159,23,243,0.35) 0%, rgba(217,180,240,1) 10%, rgba(255,255,255,1) 41%);
}
.background-page2{
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: right;
  min-height: 100vh;
  @include large{
    background-position: top;
    width: 100%;
  }
}
.container{
  width: 60vw;
}