// VARIABLES
$primary-color: #8517F3;

$white: #fff;
$black: #000;
$gray: #5a5a5a;

$text-color: $gray;

$font:'Roboto';

$font-size: 10px;



// BREAKPOINTS

// Small phones
$screen-sm-min:320px; 

// Small tablets (portrait view)
$screen-md-min: 768px;

// Small tablets (landscape view)
$screen-md-min-land: 576px;

// Large tablets and desktops
$screen-lg-min: 1224px;