// MOBILE FIRST 

.about{
  @include large{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 26rem;
  }
  margin: 0 auto;
  h1{
    font-size: 2.5rem;
    margin: 5rem 0;
    @include large{
        font-size: 2.8rem;
        margin-bottom: 2.5rem;
    }
  }
  &__text{
    margin: 1.5rem 0;
    @include large{
      margin-top: 2rem;
    }
  }
  &__paragraph{
    font-size: 2rem;
    text-align: left;
    @include large{
      max-width: 40vw;
      display: flex;
      justify-content: space-between;
    }
  }
  &__illustration{
    display: block;
    max-width: 40vw;
    margin-top: 2.5rem;
    margin: 0 auto;
    @include large{
      width: 15rem;
      margin-top: 9.2rem;
    }
  }
}


