.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  h1{
    font-size: 2.8rem;
  }
  &__paragraph{
    max-width: 40vw;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
  &__illustration{
    width: 20rem;
    object-fit: contain;
  }
}
input[type="number"]{
  color: transparent;
  border: none;
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 25px;
}