.set-timer{
  text-align: center;
  height: 270px;
&__paragraph{
  padding: 1rem;
  border-radius: 12px;
  margin: 0 auto 25px;
  font-size: 1.6rem;
  font-weight: 700;
}
}
.input-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input-hour, .input-min{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
#hour, #min{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.35);
}

#hour::-webkit-inner-spin-button, #min::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.dot {
  position: relative;
  top: 15px;
  font-size: 5rem;
  opacity: 0.5;
}
