.word-generator{
  display:flex;
  justify-content: center;
}
.content{
  text-align: center;
}
.timer{
  display: flex;
  justify-content: center;
}
.display-words{
  height: 90px;
  width: 500px;
  border-radius: 20px;
}
.display-countdown{
  width: 250px;
  height: 60px;
  border-radius: 10px;
}
.play-pause-btn{
  width: 60px;
  height: 60px;
  img{
    height: 30px;
  }
}