.word-generator{
  display:flex;
  justify-content: center;
}
.content{
  text-align: center;
  h1, p{
    margin-top: 10px;
    font-size: 1.5rem;
  }
}
.timer{
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}
.voltar-timer{
  a{  
    text-decoration: none;
    font-weight: 700;
    color: $primary-color;
    text-align: center;
  }
}

.display-words{
  height: 90px;
  width: 300px;
  border-radius: 20px;
  margin: 9rem auto;
}
.display-countdown {
  width: 250px;
  height: 60px;
  border-radius: 10px;
}

.play-pause-btn {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  background-image: url(../img/play.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 18px;
}

.pause-btn{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  background-image: url(../img/pause.png);
  // background-color: rgb(166, 77, 250);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 15px;
}

.footer-page1 {

  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
}